<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet" media="all" />
</head>
<body id="body"></body>
    <div class="header">
        <h1>Horarios</h1>
        <div class="flex-container">
            <div class="headerItem">
                <span id="formulario">Formulario</span>
            </div>
            <div class="headerItem">
                <span id="instrucciones">Instrucciones</span>
            </div>
        </div>
    </div>
    <div class="container" id="container">
        <div class="percentage" style="background-color: #e60000">
            <h3>No se pudieron generar horarios con esas claves.</h3>
        </div>
    </div>
    <script src="../scripts/redirect.js"></script>
</body>
</html>